#body{
background: #F6F9FF ;
margin: 0;
padding: 0;
}

#quadro{
    width: 480px;
    height: 560px;
    background-color:hsl(0, 3%, 80%, 0.3);
    box-shadow:20px 20px 50px -30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    gap: 30px;
}

.foto{
    width: 250px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid black;
    margin-top: 15px;
}

.redes{
    width: 25px;
    padding-right: 8px;
    text-align: center;
    padding-top: px;
     ;
}

#quadro a{
    text-decoration: none;
    margin-right: 5px;
    color:hsl(0, 3%, 30%, 0.8);
    border-bottom:1px solid hsl(0, 3%, 30%, 0.8) ;
}

#quadro a:hover{
    width: 40;
    padding-right: 10px ;
    background-color:hsl(0, 3%, 30%, 0.6);
    box-shadow:10px 10px 30px -10px ;
    border-radius:22%;

}